﻿@using Netflix.Models

@{
    String user = null;
    bool isAdmin = false;
    if (Context.User.Claims.Count() > 0)
    {
        user = Context.User.Claims.FirstOrDefault(x => x.Type == "userName").Value;
        isAdmin = Context.User.IsInRole("Admin");
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Reviews</title>

    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/animate.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/hover.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/modernizr-2.6.2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.js")" type="text/javascript"></script>

    <link rel="icon" href="../../Content/N.png">
    <link href="~/Content/Site.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/hover.css" type="text/css" rel="stylesheet" />
    @*<script type="text/javascript" src="~/Scripts/jquery.js"></script>*@
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>


<body>
    <header class="navbar navbar-light sticky-top reviews-navbar custom-nav-bar mb-3">
        <a href="/" class="logo-border">
            <img src="../../Content/N.png"
                 class="logo hvr-bounce-in">
        </a>
        <nav class="navbar-nav-scroll">
            <ul class="navbar-nav bd-navbar-nav flex-row">
                <li class="nav-item custom-nav-link">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link custom-nav-link" })</li>
                @if (user != null)
                {
                    <li class="nav-item custom-nav-link">@Html.ActionLink("Reviews", "Index", "Reviews", new { area = "" }, new { @class = "nav-link custom-nav-link" })</li>
                    <li class="nav-item custom-nav-link">@Html.ActionLink("Movies", "Index", "Movies", new { area = "" }, new { @class = "nav-link custom-nav-link" })</li>
                    @if (isAdmin)
                    {
                        <li class="nav-item custom-nav-link">@Html.ActionLink("Generes", "Index", "Generes", new { area = "" }, new { @class = "nav-link custom-nav-link" })</li>
                        <li class="nav-item custom-nav-link">@Html.ActionLink("Users", "Index", "Users", new { area = "" }, new { @class = "nav-link custom-nav-link" })</li>
                        <li class="nav-item custom-nav-link">@Html.ActionLink("Nextflix Statistics", "Stats", "Movies", new { area = "" }, new { @class = "nav-link custom-nav-link" })</li>

                    }
                }
                <li class="nav-item custom-nav-link">@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link custom-nav-link" })</li>

            </ul>
        </nav>
        @Html.Partial("_LoginPartial")


    </header>
    
    <div class="container" style="margin-bottom: 45px;">
        @RenderBody()
    </div>
    <footer class="sticky-bottom" style="text-align: center;">
        <div style="display: flex;">
            <img id="tempIcon" src="http://openweathermap.org/img/wn/10d@2x.png">
            <a id="tempResult" href="https://openweathermap.org/city/293396" target="_blank"></a>
        </div>
        <div>
            <p id="footerDesc">© 2021 - Nextflix Reviews </p>
        </div>
    </footer>

    @*Web Service*@
    <script type="text/javascript">
        const requst = 'https://api.openweathermap.org/data/2.5/weather?q=Tel Aviv&&units=metric&APPID=5604e2bff3ee7f24250ecfd84b1d16ad';
        $.getJSON(requst
            , function (data) {
                $('#tempResult').text("Temperature in Tel Aviv: " + data.main.temp);
                $('#tempIcon').attr("src", "http://openweathermap.org/img/wn/" + data.weather[0].icon + ".png");
            }
        );

    </script>

    @RenderSection("scripts", required: false)
</body>
</html>