﻿@{
    String user = null;
    if (Context.User.Claims.Count() > 0)
    {
        user = Context.User.Claims.FirstOrDefault(x => x.Type == "userName").Value;
    }
}

    <ul class="navbar-nav bd-navbar-nav flex-row navbar-right">
        @if(user == null)
        {
        
        <li class="nav-item">
            @Html.ActionLink("Register", "Create", "Users", new { area = "" }, new { @class = "btn btn-primary" })
        </li>
        <li class="nav-item">

            @Html.ActionLink("Login", "Login", "Users", new { area = "" }, new { @class = "btn btn-primary" })
        </li>
         }

        else
        {
            <li class="nav-item" style="margin-top: 6px; margin-right: 20px">
                <a style="color: white !important; font-size: 18px; pointer-events: none;" href="#">
                    Welcome @(user)
                </a>
            </li>
            <li class="nav-item" style="margin-right: 10px; color :white !important;">
                @Html.ActionLink("Log Out", "Logout", "Users", new { area = "" }, new { @class = "btn btn-primary" })
            </li>
        }
    </ul>