﻿@model Netflix.Models.Movie

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Movie</h1>

<h3>Are you sure you want to delete this?</h3>
<form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
         <input type="submit" value="Delete" class="btn btn-primary" />
        <br>
    <a asp-action="Index" class="btn btn-primary" >Back to List</a>
    </form>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Generes)
        </dt>
        <dd class="col-sm-10" style="    white-space: pre-wrap;    margin-top: -3rem;">
        @ViewBag.GeneresDisplay
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MovieGallery.ImageUrl)
        </dt>
        <dd class = "col-sm-10">
            <img src='@Model.MovieGallery.ImageUrl' style="height:300px;width:200px;" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MovieGallery.TrailerUrl)
        </dt>
        <dd class = "col-sm-10">
            <iframe id="ytplayer" type="text/html" width="640" height="360"
                    src='@Html.DisplayFor(model => model.MovieGallery.TrailerUrl)'
                    frameborder="0"></iframe>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
    </dl>
    
</div>
