﻿@model Netflix.Models.Movie

@{
    ViewData["Title"] = "Details";
}

<script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?callback=getMap&key=AglqlqQgF_dEaS3S7mR7g--ZYzo_Xfaqy0WS68UwWaisBsU0QREVDSmOPKY_yicD' async defer></script>
<h1>Details</h1>

<div>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a> 
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Generes)
        </dt>
        <dd class="col-sm-10" style="    white-space: pre-wrap;    margin-top: -3rem;">
        @ViewBag.GeneresDisplay
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MovieGallery.ImageUrl)
        </dt>
        <dd class="col-sm-10">
            <img src='@Model.MovieGallery.ImageUrl' style="height:300px;width:200px;" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MovieGallery.TrailerUrl)
        </dt>
        <dd class="col-sm-10">
            <iframe id="ytplayer" type="text/html" width="640" height="360"
                    src='@Html.DisplayFor(model => model.MovieGallery.TrailerUrl)'
                    frameborder="0"></iframe>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <div id="myMap" style="height: 400px; width: 400px;"></div>

    </dl>
</div>

<script type="text/javascript">
    function getMap() {
        var city = '@Model.City';
        // var city = 'Tel Aviv';
        const request = "https://api.openweathermap.org/geo/1.0/direct?q=" + city + "&limit=1&appid=5604e2bff3ee7f24250ecfd84b1d16ad";
        $.getJSON(request
            , function (data) {
                var location_x = data[0].lat;
                var location_y = data[0].lon;

                var map = new Microsoft.Maps.Map('#myMap', {
                    credentials: 'AglqlqQgF_dEaS3S7mR7g--ZYzo_Xfaqy0WS68UwWaisBsU0QREVDSmOPKY_yicD',
                    center: new Microsoft.Maps.Location(location_x, location_y),
                    mapTypeId: Microsoft.Maps.MapTypeId.road,
                    zoom: 14
                });
                var pin = new Microsoft.Maps.Pushpin(new Microsoft.Maps.Location(location_x, location_y), {
                    text: ''
                });

                map.entities.push(pin);

                var layer = new Microsoft.Maps.Layer("MyPushpinLayer1");
                layer.add(new Microsoft.Maps.Pushpin(map.getCenter()));
                map.layers.insert(layer);

            }
        );
    }
</script>

