﻿@model Netflix.Models.Movie

@{
    ViewData["Title"] = "Edit";
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.16/css/bootstrap-multiselect.min.css" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.16/js/bootstrap-multiselect.min.js"></script>

<h1>Edit Movie</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Generes" class="control-label"></label>
                <select asp-for="Generes" class="form-control" multiple asp-items="ViewBag.GeneresList"></select>
                <span asp-validation-for="Generes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MovieGallery.ImageUrl" class="control-label"></label>
                <input asp-for="MovieGallery.ImageUrl" class="form-control" />
                <span asp-validation-for="MovieGallery.ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MovieGallery.TrailerUrl" class="control-label"></label>
                <input asp-for="MovieGallery.TrailerUrl" class="form-control" />
                <span asp-validation-for="MovieGallery.TrailerUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <select asp-for="City" class="form-control" asp-items="ViewBag.City"></select>
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
<script type="text/javascript">
    $(function () {
        $('#Generes').multiselect({
            includeSelectAllOption: true
        });
        var GeneresSel = '@ViewBag.GeneresSel';
        var GeneresSelArr = GeneresSel.split(",").filter(item => item !== "").map(el => el.toString()); 

        $('#Generes').multiselect('select', GeneresSelArr);

        var selectedVals = document.getElementById("Generes");
        var labels = ""
        for (var ind = 0; ind < selectedVals.selectedOptions.length; ind++) {
            labels += (selectedVals.selectedOptions[ind].label + ',')
        }
        labels = labels.substring(0, labels.length - 1);
        $.ajax({
            type: "POST",
            url: "/Movies/SetSessionGeneres",
            data: {
                Name: labels
            }
        });
    });

    $("#Generes").on("change", (function (e) {
        var selectedVals = document.getElementById("Generes");
        var labels = ""
        for (var ind = 0; ind < selectedVals.selectedOptions.length; ind++) {
            labels += (selectedVals.selectedOptions[ind].label  + ',')
        }
        labels = labels.substring(0, labels.length - 1);
        $.ajax({
            type: "POST",
            url: "/Movies/SetSessionGeneres",
            data: {
                Name: labels
            }
        });

    }));
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
