﻿@model IEnumerable<Netflix.Models.Movie>

@{
    ViewData["Title"] = "Movies";
}


@using (Html.BeginForm("SearchName", "Movies", FormMethod.Get))
    {
        <div class="d-flex flex-row align-items-center">
  <div class="p-2">
  <h1>Movies</h1>
  </div>
        <div class="p-2 justify-content-end main-search">
            <div style="width: 35%;">
                <div class="input-group">
                    <input type="text" class="form-control" name="name" placeholder="Search movie by name...">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">Search!</button>
                    </span>
                </div>
            </div>
        </div>
</div>
    }
    <p>
    <a asp-action="Create" class = "btn btn-primary">Add new movie</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Generes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieGallery.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieGallery.TrailerUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @foreach (var genere in item.Generes)
                {
                    @Html.DisplayFor(modelItem => genere.Name)
                    <br>
                }
            </td>
            <td>
                <img src='@Html.DisplayFor(modelItem => item.MovieGallery.ImageUrl)' style="height:240px;width:160px;" />
            </td>
            <td>
                <iframe id="ytplayer" type="text/html" width="400" height="240"
                        src='@Html.DisplayFor(modelItem => item.MovieGallery.TrailerUrl)'
                        frameborder="0"></iframe>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
            <div style="display: grid">
             <a asp-action="Edit" asp-route-id="@item.Id" class = "btn btn-primary movie-table-btn ">Edit</a> 
             <a asp-action="Details" asp-route-id="@item.Id" class = "btn btn-primary movie-table-btn ">Details</a> 
             <a asp-action="Delete" asp-route-id="@item.Id" class = "btn btn-primary movie-table-btn ">Delete</a>
            </div>
            </td>
        </tr>
}
    </tbody>
</table>
