﻿@{
    ViewBag.Title = "SearchName";
}

@using Netflix.Models
@model IEnumerable<Movie>

@{
    ViewBag.Title = "Search Results";
}
<div>
        <a asp-action="Index" class="btn btn-primary" style="margin-bottom: 1rem">Back to List</a>
</div>

    <div class="col-md-10">
        @if (Model.Count() == 0)
        {
            <h5>No movies were found </h5>
            <h7>Go ahead and add one!</h7>
            <br />
            <a asp-action="Create" class="btn btn-primary">Create New Movie</a>
        }
    </div>
    <div>
         @if (Model.Count() > 0)
          {
<table class="table" id="moviesList">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Generes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MovieGallery.ImageUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MovieGallery.TrailerUrl)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @foreach (var genere in item.Generes)
                {
                    @Html.DisplayFor(modelItem => genere.Name)
                    <br>
                }
            </td>
            <td>
                <img src='@Html.DisplayFor(modelItem => item.MovieGallery.ImageUrl)' style="height:240px;width:160px;" />
            </td>
            <td>
                <iframe id="ytplayer" type="text/html" width="400" height="240"
                        src='@Html.DisplayFor(modelItem => item.MovieGallery.TrailerUrl)'
                        frameborder="0"></iframe>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
            <div style="display: grid">
             <a asp-action="Edit" asp-route-id="@item.Id" class = "btn btn-primary movie-table-btn ">Edit</a> 
             <a asp-action="Details" asp-route-id="@item.Id" class = "btn btn-primary movie-table-btn ">Details</a> 
             <a asp-action="Delete" asp-route-id="@item.Id" class = "btn btn-primary movie-table-btn ">Delete</a>
            </div>
            </td>
        </tr>
    }

</table>
        }
        </div>
