﻿<script src="https://d3js.org/d3.v4.min.js" charset="utf-8"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/d3-handler.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>


@{
    // User and its number of reviews
    //   var usersReplayCount = Model.Select(x => new { Name = x.UserName, Count = x.Reviews.Count() });
}

<div class="aligned-to-center-div">

    <section id="popular-gender-graph" style="margin-left:5%">
        <h4>Users by gender</h4>
        <p>Displays the users division by their gender</p>
    </section>
    <section id="reviewsChart" style="margin-left:5%">
        <h4>Movies by city</h4>
        <p>Displays the movies by Location</p>
    </section>

    
    <script>
        /*
        $.ajax({
            url: '/Users/GetGroupByGender',
            success: (data) => {
                createPopularUsersGraph(data);
            }
        })
        */
        $.ajax({
            url: '/Users/GetGroupByGender',
            success: (data) => {
                createGenereGraph(data);
            }
        })

        $.ajax({
            url: '/Movies/GetGroupByLocations',
            success: (data) => {
                createLocationGraph(data);
            }
        })
    </script>
</div>

<br />


