﻿@model Netflix.Models.Genere

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this genere?</h3>
<h5>(All Movies and reviews related to the genere will be deleted as well)</h5>
<div>
    <hr />
    <dl class="row">
        @*<dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>*@
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-primary" />
        <br>
        <a asp-action="Index" class="btn btn-primary">Back to List</a>
    </form>
</div>
