﻿@model IEnumerable<Netflix.Models.Genere>

@{
    ViewData["Title"] = "Index";
}

@using (Html.BeginForm("Search", "Generes", FormMethod.Get))
    {
        <div class="d-flex flex-row align-items-center">
  <div class="p-2">
  <h1>Genres</h1>
  </div>
        <div class="p-2 justify-content-end main-search">
            <div style="width: 35%;">
                <div class="input-group">
                    <input type="text" class="form-control" name="name" placeholder="Search genre by name...">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">Search!</button>
                    </span>
                </div>
            </div>
        </div>
</div>
    }
        <p>
            <a asp-action="Create" class="btn btn-primary">Add a new Genre</a>
        </p>
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class = "btn btn-primary">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class = "btn btn-primary">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class = "btn btn-primary">Delete</a>
                  </td>
            </tr>
        }
    </tbody>
</table>
