﻿@{
    ViewBag.Title = "Search";
}

@using Netflix.Models
@model IEnumerable<Genere>

@{
    ViewBag.Title = "Search Results";
    //var user = (User)Session["User"];
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        </tr>
    }

</table>
