﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div>
    <center>
        <img src="~/Content/unauthorized.jpg" />
    </center>

</div>
