﻿@model Netflix.Models.User

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="register" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (ViewBag.Error != null)
            {
                <div class="text-danger">@ViewBag.Error</div>
            }

            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input id="FirstName" name="FirstName" asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input id="LastName"  name="LastName" asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input id="userName" name="userName" asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger" for="userName"></span>
             
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <select asp-for="Gender" class="form-control" asp-items="ViewBag.Gender"></select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input id="password" name="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">confirm password</label>
                <input id="confirmPassword" type="password" name="confirmPassword" class="form-control" />
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    $().ready(function () {

        $.validator.addMethod(
            "pattern",
            function (value, element, regexp) {
                var re = new RegExp(regexp);
                return this.optional(element) || re.test(value);
            },
            "Please check your input."
        );


        // validate signup form on keyup and submit
        $("#register").validate({
            rules: {
                userName: {
                    required: true,
                    minlength: 2
                },
                FirstName: {
                    required: true,
                    minlength: 2,
                    pattern: "^[a-zA-Z ]*$"
                },
                LastName: {
                    required: true,
                    minlength: 2,
                    pattern: "^[a-zA-Z ]*$"
                },
                password: {
                    required: true,
                   pattern: "^(?=.*[0-9])(?=.*[a-zA-Z])",
                   minlength: 8
                },
                confirmPassword: {
                    required: true,
                    equalTo: "#password"
                }
            },
            messages: {

                userName: {
                    required: "Please enter a username",
                    minlength: "Your username must consist of at least 2 characters"
                },
                FirstName: {
                    required: "Please enter you first name",
                    minlength: "Your first name must consist of at least 2 characters",
                    pattern: "Your first name can only contain letters and white spaces"
                },
                LastName: {
                    required: "Please enter you last name",
                    minlength: "Your last name must consist of at least 2 characters",
                    pattern: "Your last name can only contain letters and white spaces"
                },
                password: {
                    required: "Please enter a password",
                    pattern: "Your password must contain at least one upper-case letter, one lower-case letter and one number",
                    minlength: "Your username must consist of at least 8 characters"
                },
                confirmPassword: {
                    required: "Please confirm tour password",
                    equalTo: "The passwords are different.",
                }

            },
            submitHandler: function (form) {
                form.submit();
            }
        });

        // propose username by combining first- and lastname
        $("#userName").focus(function () {
            var firstname = $("#FirstName").val();
            var lastname = $("#LastName").val();
            if (firstname && lastname && !this.value) {
                this.value = firstname + "." + lastname;
            }
        });

        const fixWhiteSpace = function (elementId) {
            var split = $("#" + elementId).val().trim().split(/[ ]+/);
            $("#" + elementId).val(split.join(' '))
            
            $("#register").validate().element("#" + elementId);
        }

        $("#FirstName").blur(function () {
            fixWhiteSpace("FirstName")
        });

        $("#LastName").blur(function () {
            fixWhiteSpace("LastName")
        });
    });
</script>
