﻿@{
    ViewBag.Title = "Failed Login";
}

<div class="container" style="margin: 20px 0">
    Login failed, please check your login details and try again
    <br />
    @Html.ActionLink("Try again", "Login", null, new { @class = "btn btn-primary" })
</div>