﻿@model IEnumerable<Netflix.Models.User>

@{
    int userId = -1;
    if (Context.User.Claims.Count() > 0)
    {
        userId = int.Parse(Context.User.Claims.FirstOrDefault(x => x.Type == "userId").Value);
    }
    ViewData["Title"] = "Users";
}
<div class="row">
    <div class="col-9"><h1>Users</h1></div>
    <div class="col-3"><a asp-action="Create" class="btn btn-primary">Create New</a></div>
</div>

<form asp-action="Search" class="row">
    <div class="container">
        <div class="row">
            <div class="form-group col-md-2">
                <div class="control-label">User name</div>
                <input type="text" name="userName" class="form-control" />
            </div>
            <div class="form-group col-md-2">
                <div class="control-label">First name</div>
                <input type="text" name="firstName" class="form-control" />
            </div>
            <div class="form-group col-md-2">
                <div class="control-label">Last name</div>
                <input type="text" name="lastName" class="form-control" />
            </div>
            <div class="form-group col-md-2">
                <div class="col-md-10">
                    <input type="submit" value="Search" class="btn btn-primary" style="position: absolute; top: 20px" />
                </div>
            </div>
        </div>
    </div>
</form>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Password)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsAdmin)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Password)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsAdmin)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a> |
                        @if (userId != item.Id)
                        {
                            <a asp-action="Delete"  asp-route-id="@item.Id" class="btn btn-primary">Delete</a>
                        }

                        </td>
                </tr>
            }
        </tbody>
    </table>
