﻿@model Netflix.Models.Review

@{
    ViewData["Title"] = "Details";
    String user = null;
    bool isAdmin = false;
    if (Context.User.Claims.Count() > 0)
    {
        user = Context.User.Claims.FirstOrDefault(x => x.Type == "userName").Value;
        isAdmin = Context.User.IsInRole("Admin");
    }
}

<h1>Details</h1>

<div>
    <h4>Review</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Name)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Username)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Username)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.indLike)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.indLike)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
    </dl>
</div>
<div>
    @if (isAdmin)
    {
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a> 
     }
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
