﻿@model IEnumerable<Netflix.Models.Review>

@{
    ViewData["Title"] = "Search Results";
    String user = null;
    int userId = 0;
    bool isAdmin = false;
    if (Context.User.Claims.Count() > 0)
    {
        user = Context.User.Claims.FirstOrDefault(x => x.Type == "userName").Value;
        isAdmin = Context.User.IsInRole("Admin");
        userId = int.Parse(Context.User.Claims.FirstOrDefault(x => x.Type == "userId").Value);
    }
}

<h1>Reviews</h1>

<p>
    <aside style="margin: 20px 0">Search Results</aside>
</p>

<form asp-action="Search" class="row">
    <div class="container">
        <div class="row">

            <div class="form-group col-md-2">
                <div class="control-label">Title</div>
                <input type="text" name="title" class="form-control" />
            </div>

            <div class="form-group col-md-2">
                <div class="control-label">Content</div>
                <input type="text" name="Content" class="form-control" />
            </div>
            <div class="form-group col-md-2">
                <div class="control-label">Movie</div>
                <input type="text" name="movieName" class="form-control" />
            </div>
            <div class="form-group col-md-3">
                <div class="control-label">Date</div>
                <input type="date" name="date" class="form-control" />
            </div>
            <div class="form-group col-md-2">
                <div class="col-md-10">
                    <input type="submit" value="Search" class="btn btn-primary" style="position: absolute; top: 20px" />
                </div>
            </div>
        </div>
    </div>
    </form>
    <hr />

    <script>
        $.ajax({
            url: '/Reviews/ReviewExists',
            success: (data) => {
                if (!data) {
                    $('#addReviewButton').show();
                } else {
                    $('#addReviewButton').hide();
                }
            }
        })
    </script>

    <div id="addReviewButton" class="col-md-10">
        @if (user != null && Model.Count() == 0)
        {
            <h5>There is no review ? </h5>
            <h7>Go ahead and add one!</h7>
            <br />
            <a asp-action="Create" class="btn btn-primary">Create New Review</a>
        }
        <hr />
    </div>


@foreach (var review in Model)
{
    <section class="jumbotron" style="background-color: #e2dddd !important">
        <article class="blogPost">
            <div>
                <h4 style="display: flex">
                    <u>
                        <p>@Html.DisplayFor(modelItem => review.Movie.Name) ,</p>
                    </u>
                    <p style="margin-left:1%">@Html.DisplayFor(modelItem => review.Title)</p>
                </h4>

            <a href="https://twitter.com/intent/tweet?screen_name=@review.User.Username&text=Read this review for @review.Movie.Name http://localhost:5001/Reviews/Details/@review.Id" class="twitter-mention-button" data-show-count="false">Tweet to @review.User.Username</a>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            @if (user != null)
                {
                    <p><span>Posted on @Html.DisplayFor(modelItem => review.CreationDate) by @Html.ActionLink(review.User.Username, "Details", "Users", new { id = review.User.Id }, null) - <b>@review.Comments.Count Comments</b></span></p>
                }
                else
                {
                    <p><span>Posted on @Html.DisplayFor(modelItem => review.CreationDate) by @review.User.Username - <b>@review.Comments.Count Comments</b></span></p>
                }
                @*Multi columns*@
                <div style="column-count: 3; column-gap:40px; column-rule: 1px solid lightgrey">
                    @Html.DisplayFor(modelItem => review.Content)
                </div>
                <div class="text-right"
                     style="display:inline-flex; margin-top:10px;">
                    <a asp-action="Details" asp-route-id="@review.Id">Details</a>
                    @if (user != null && isAdmin)
                    {

                        <a asp-action="Edit" asp-route-id="@review.Id" class="btn btn-primary">Edit</a>
                        <a asp-action="Delete" asp-route-id="@review.Id" class="btn btn-primary">Delete</a>
                    }
                </div>
            </article>

            <section id="comments" style="margin-top:10px;">
                <h5>Comments</h5>
                @foreach (var comment in review.Comments)
                {
                    <article>
                        <header>
                            <span> <span>By @comment.User.Username</span> at @comment.CreationDate </span>
                        </header>
                        @comment.Content
                    </article>
                }

                @if (user != null)
                {
                    @*<form asp-action="PostComment">
                            <div class="form-group">
                                <input type="hidden" asp-for="userId" value="@user" />
                                    <input type="hidden" asp-for="reviewId" value="@review.Id" />
                                    <textarea type="text" asp-for="content" placeholder="Add a new comment..."
                                              style="width: 60%"></textarea>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Comment" class="btn btn-primary" style:"text-align: center" />
                            </div>
                            <br />
                        </form>*@

                    using (Html.BeginForm("PostComment", "Reviews"))
                    {
                        <input type="hidden" name="userId" value="@userId" />
                        <input type="hidden" name="reviewId" value="@review.Id" />
                        <textarea type="text" name="content" placeholder="Add a new comment..."
                                  style="width: 60%"></textarea>
                        <br />
                        <input type="submit" value="Comment" class="btn btn-primary" style:"text-align: center" />
                        <br />
                    }

                }
            </section>
        </section>
        <br />
    }
