﻿
@{
    ViewData["Title"] = "Contact";
}

<h1>Contact us!</h1>
<br />

<div style="display: flex; justify-content: space-between;">
    <div>
        <p>
        <strong> phone: </strong>
         051-2345678
        </p>


        <br />

        <p>
            <strong>mail: </strong> <br />
            <a href="mailto:1edenmironi1@gmail.com">1edenmironi1@gmail.com</a><br />
            <a href="mailto:nikitin.maya@gmail.com">nikitin.maya@gmail.com</a><br />
            <a href="mailto:leemeiri1@gmail.com">leemeiri1@gmail.com</a><br />
            <a href="mailto:nitsan8@gmail.com">nitsan8@gmail.com</a><br />
        </p>
    </div>
</div>

