﻿@{
    ViewData["Title"] = "Home Page";
}
<html>
<body style="background-image:url('../Content/BackgroundPhoto.png'); background-repeat:repeat;">

    <section class="text-center">
        <video min-width="100%" id="video" min-height="100%" controls autoplay="autoplay" muted style="position:fixed;bottom:0; left:140px;">
            <source src="../Content/NEXTFLIX.mp4" type="video/mp4" />
        </video>
        <br /><br /><br /><br /><br /><br />
        <canvas id="ourcanvas"> </canvas>
        <br /><br /><br /><br /><br /><br />
        @Html.ActionLink("Let's go to the movies!", "Index", "Movies", new { area = "" }, new { @class = "btn btn-primary" })

    </section>

</body>
</html>

<script type="text/javascript">

    var canvas = document.getElementById('ourcanvas');
    var ctx = canvas.getContext('2d');

    // using optional size for image
    var image = new Image(60, 45);

    const myvideo = document.getElementById('video');

    image.src = '../Content/N.png';

    myvideo.addEventListener('ended', () => {
        
        myvideo.pause();
        myvideo.remove();
        drawImageActualSize();  
    }, false);

    function drawImageActualSize() {

        // use the intrinsic size of image in CSS pixels for the canvas element
        canvas.width = image.naturalWidth;
        canvas.height = image.naturalHeight;

        // will draw the image as 300x227 ignoring the custom size of 60x45
        // given in the constructor
        ctx.drawImage(image, 0, 0);
    }

</script>
