﻿html, body {
    background: #f1f1f1;
    font-family: 'Roboto', sans-serif;
    height:100%;
}

.dl-horizontal dt {
    white-space: normal;
}

.logo-border {
    background-color: #F77B00 !important;
    border-radius: 100%;
}

.white {
    color: white !important;
}

.logo {
    width: 12rem;
    transition: all 6s;
    width: 90px;
    height: 70px;
}

.logo:hover {
    -webkit-transform: rotateZ(-30deg);
    -ms-transform: rotateZ(-30deg);
    transform: rotateZ(-30deg);

    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.welcome {
    text-shadow: 0px 0px 15px #1968b3;
    color: #1081f0;
}

@font-face {
    font-family: netflixFont;
    src: url("Assistant-Regular.ttf");
}

.reviews-navbar {
    min-height: 65px;
    background: white;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,.45);
}

.reviews-navbar .navbar-nav .nav-item {
    padding-right: 1rem;
}

.aligned-to-center-div {
    display: flex;
    justify-content: space-between;
}

.main-search {
    height: 90px;
    width: 100%;
    color: #FFF;
    display: flex;
    background-position: right center,center center;
    background-repeat: no-repeat,no-repeat;
    font-size: 18px;
    justify-content: center;
    align-items: center;
}

.main-search input {
    border: 1px solid white;
}

.main-search .btn.btn-outline-light:hover {
    background-color: #0000006e;
}

.movie-table-btn {
    margin-top: 2px;
    margin-bottom: 2px;
    width: 76px;
}

.sticky-bottom {
    bottom: 0;
    position: fixed;
    width: 100%;
    display: flex;
    background: #3e3e3e;
    justify-content: space-evenly;
    height: 45px;
    align-items: flex-end;
    color: white;
}

#footerDesc {
    padding-top: 0.75rem;
    margin: 0;
    height: 3rem;
    font-family: netflixFont;
}

#tempIcon {
    height: 3rem;
}

#tempResult {
    padding-top: 0.75rem;
    height: 3rem;
    color: white;
}

#temperatureDiv {
    display: flex;
}

.login {
    padding: 2em;
    width: 50%;
    margin: 0 auto;
}

.custom-nav-bar {
    background-color: black !important;
}

.custom-nav-link {
    color: white !important;
}

.custom-nav-link :hover, .custom-nav-link :active {
        text-shadow: 1px 0.5px !important;
        color: #E50914 !important;
        font-size: 1.1em;
}

.btn-primary {
    background-color: #E50914 !important;
}

.btn-danger {
    background-color: #8b0000 !important;
}